.CustomInfoGrid {
	display: grid;
	grid-template-columns: 30% 40% 10% 10% 10%;
}

.GridCenter {
	justify-self: center;
}

.GridEnd {
	justify-self: end;
}

.AddEntry {
	width: 100%;
	text-align: right;
}

.CustomInfoItemContainer .CustomInfoEntry textarea.CustomInfoCommandContent {
	width: 100%;
	resize: vertical;
	height: 50px;
}